<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>This is a (very) simple AngularJS single-page application that aims to help beginners with their first API-consumer app.</p>
  </div>
</div>

<div class="container-fluid">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-2">
      <h2>Simple Form</h2>
      <p>
        Here we have a (very) simple form, to show the power of a Controller's $scope.
        If you already have filled any of the fields, you may click on the "Show user summary" button
        to see a styled summary appearing on the second half of the page.
      </p>
      <p>
        <a class="btn btn-default" ui-sref="simpleForm" role="button">View details &raquo;</a>
      </p>
    </div>
    <div class="col-md-2">
      <h2>Simple List/Filter</h2>
      <p>
        This is pretty much the simplest you can get to list stuff using AngularJS.
        By clicking on "Populate List", the app will make a GET request to
        <a href="https://jsonplaceholder.typicode.com/posts">jsonplaceholder/posts</a> and fetch the full 100 post list.
        Also, here we have a simple filter per column, that uses AngularJS' "| filter:{}" functionality.
      </p>
      <p>
        <a class="btn btn-default" ui-sref="simpleList" role="button">View details &raquo;</a>
      </p>
    </div>
    <div class="col-md-2">
      <h2>User "CRUD"</h2>
      <p>
        Here we have a user list, with the filters working the same way we have on <a href="" ui-sref="simpleList">Simple List</a>, although now you'll be able to "Edit" an User. For that, we're using URL parameters and we fetch the user by id on-demand.
        <br /><br />
      </p>
      <p>
        <a class="btn btn-default" ui-sref="userForm" role="button">View details &raquo;</a>
      </p>
    </div>
    <div class="col-md-2">
      <h2>To-do List</h2>
      <p>
         An example of how to implement a to-do list using AngularJS.
        By changing the select, the "limit" value will be changed on the $scope, also changing the "limitTo" filter value.
        All of the data is provided by <a href="https://jsonplaceholder.typicode.com">jsonplaceholder</a>.<br /><br />
      </p>
      <p>
        <a class="btn btn-default" ui-sref="todoList" role="button">View details &raquo;</a>
      </p>
    </div>
    <div class="col-md-2">
      <h2>WYSIWYG Editor</h2>
      <p>
        Here we have a full WYSIWYG editor, using the <a href="https://github.com/fraywing/textAngular">Text Angular</a> plugin.
        <br />
        You can see the Resulting HTML on the textarea under the editor.
      </p>
      <p>
        <a class="btn btn-default" ui-sref="textEditor" role="button">View details &raquo;</a>
      </p>
    </div>
  </div>
</div> <!-- /container -->