<div class="container-fluid">

  <div class="row page-title">
    <div class="col-sm-12">
      <h2>Simple list</h2>
      <button type="button" class="btn btn-success pull-right" ng-click="fetchPosts()">
        Populate List
      </button>
      <button type="button" class="btn btn-default pull-right" ng-click="clearList()">
        Clear List
      </button>
      <p>
        This is pretty much the simplest you can get to list stuff using AngularJS.
        <br />
        By clicking on "Populate List", the app will make a GET request to
        <a href="https://jsonplaceholder.typicode.com/posts">https://jsonplaceholder.typicode.com/posts</a> and fetch the full 100 post list.
        <br />
        Also, here we have a simple filter per column, that uses AngularJS' "| filter:{}" functionality.
      </p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-12">
      <simple-list field-map="postStructure"
                   entity-list="allPosts">
      </simple-list>
    </div>
  </div>
</div>
