<div class="container-fluid">
  <div class="row page-title">
    <div class="col-sm-12">
      <h2>User list and form <span class="small">(editing an user)</span></h2>
      <button type="button"
              class="btn btn-labeled btn-default pull-right"
              ng-click="cancelUserEdit()"
              ng-show="editMode">
        <span class="btn-label">
            <i class="fa fa-close"></i>
        </span>
        Cancel edit
      </button>
    </div>
  </div>
  <hr>

  <div class="row" ng-show="0 < form.id && editMode">
    <!-- User form -->
    <div class="col-sm-6">
      <ng-include src="'templates/form/user_form.html'"></ng-include>
    </div>

    <!-- User summary -->
    <div class="col-sm-6">
      <ng-include src="'templates/form/user_summary.html'"></ng-include>
    </div>
  </div>

  <simple-list field-map="fieldMap"
               entity-list="entityList"
               show-actions="true"
               edit-callback="fetchById(entityId)">
  </simple-list>

</div>