<form class="form-horizontal" name="userForm" novalidate>
  <fieldset id="person-info">
    <legend>Person</legend>
    <!-- NAME -->
    <div class="form-group">
      <label for="user-name" class="col-sm-4">Name</label>
      <div class="col-sm-8">
        <input type="text"
               class="form-control"
               id="user-name"
               name="user[name]"
               validation="required"
               ng-model="form.name">
      </div>
    </div>

    <!-- USERNAME -->
    <div class="form-group">
      <label for="user-username" class="col-sm-4">Username</label>
      <div class="col-sm-8">
        <input type="text"
               class="form-control"
               id="user-username"
               name="user[username]"
               validation="required"
               ng-model="form.username">
      </div>
    </div>

    <!-- EMAIL -->
    <div class="form-group">
      <label for="user-email" class="col-sm-4">Email</label>
      <div class="col-sm-8">
        <input type="email"
               class="form-control"
               id="user-email"
               name="user[email]"
               validation="required"
               ng-model="form.email">
      </div>
    </div>

    <!-- Phone -->
    <div class="form-group">
      <label for="user-phone" class="col-sm-4">Phone</label>
      <div class="col-sm-8">
        <input type="text"
               class="form-control"
               id="user-phone"
               name="user[phone]"
               validation="required"
               ng-model="form.phone">
      </div>
    </div>

    <!-- Website -->
    <div class="form-group">
      <label for="user-website" class="col-sm-4">Website</label>
      <div class="col-sm-8">
        <input type="text"
               class="form-control"
               id="user-website"
               name="user[website]"
               validation="required"
               ng-model="form.website">
      </div>
    </div>
  </fieldset>

  <fieldset id="address-info">
    <legend>Address</legend>
    <!-- Street -->
    <div class="form-group">
      <label for="user-address-street" class="col-sm-4">Street</label>
      <div class="col-sm-8">
        <input type="text"
               class="form-control"
               id="user-address-street"
               name="user[address][street]"
               validation="required"
               ng-model="form.address.street">
      </div>
    </div>
    <!-- Suite -->
    <div class="form-group">
      <label for="user-address-suite" class="col-sm-4">Suite</label>
      <div class="col-sm-8">
        <input type="text"
               class="form-control"
               id="user-address-suite"
               name="user[address][suite]"
               ng-model="form.address.suite">
      </div>
    </div>
    <!-- City -->
    <div class="form-group">
      <label for="user-address-city" class="col-sm-4">City</label>
      <div class="col-sm-8">
        <input type="text"
               class="form-control"
               id="user-address-city"
               name="user[address][city]"
               validation="required"
               ng-model="form.address.city">
      </div>
    </div>
    <!-- Zipcode -->
    <div class="form-group">
      <label for="user-address-zipcode" class="col-sm-4">Zipcode</label>
      <div class="col-sm-8">
        <input type="text"
               class="form-control"
               id="user-address-zipcode"
               name="user[address][zipcode]"
               validation="required"
               ng-model="form.address.zipcode">
      </div>
    </div>
  </fieldset>

  <fieldset id="company-info">
    <legend>Company</legend>
    <!-- Name -->
    <div class="form-group">
      <label for="user-company-name" class="col-sm-4">Name</label>
      <div class="col-sm-8">
        <input type="text"
               class="form-control"
               id="user-company-name"
               name="user[company][name]"
               validation="required"
               ng-model="form.company.name">
      </div>
    </div>
    <!-- Catch Phrase -->
    <div class="form-group">
      <label for="user-company-catchPhrase" class="col-sm-4">Catch Phrase</label>
      <div class="col-sm-8">
        <input type="text"
               class="form-control"
               id="user-company-catchPhrase"
               name="user[company][catchPhrase]"
               validation="required"
               ng-model="form.company.catchPhrase">
      </div>
    </div>
    <!-- Catch Phrase -->
    <div class="form-group">
      <label for="user-company-catchPhrase" class="col-sm-4">Catch Phrase</label>
      <div class="col-sm-8">
        <input type="text"
               class="form-control"
               id="user-company-catchPhrase"
               name="user[company][catchPhrase]"
               validation="required"
               ng-model="form.company.catchPhrase">
      </div>
    </div>
  </fieldset>

</form>
